*/cw_workspace
cw_workspace

*/*.cwGeneratedFileSetLog

*/*.g_c

*/*.g_x

*/*/FLASH
*/*/DEBUG
*/*/Documentation
*/*/Generated_Code
*/*.apconfig
*/*.traceConfig

datasheets/*.pdf

*.pro.user
*.pro.user.*
*~

*.swp

doc/*.aux
doc/*.log
doc/*.pdf
doc/*.toc

